form {
  max-width: 20rem;
  margin: auto;
}

#imagesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
    background-color: rgb(95, 233, 95);
   color: rgb(233, 10, 233);
}